body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.right-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 65%;
}
.left-section{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 25%;
}
/* Add colors to inner divs in right section */
.right-section div {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #dbdbdb; /* Light grey background */
}

h3 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.right-section div {
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #6d6b6b;
    margin: 10px 0;
}
