body {
    font-family: Assistant, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.concert-details {
    background-color: #f8f9fa;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.regular-card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.regular-card-title {
    font-weight: bold;
    margin-right: 0.5rem;
}

.regular-text {
    font-size: 1rem;
    line-height: 1.5;
}

.card-img-top {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #e7e7df;
}

#concertDetails {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

.album-heading {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

#album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.concert-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.concert-buttons .btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.concert-buttons .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

.concert-buttons .btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.concert-buttons .btn-success {
    background-color: #212388;
    border: none;
    color: white;
}

.concert-buttons .btn-success:hover {
    background-color: #212388;
    transform: translateY(-2px);
}
#error-message {
    color: red; /* Red color for error messages */
    font-weight: bold; /* Make it bold */
}
