body {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa; /* Light background for contrast */
}

#nav-logo {
    height: 5rem;
    margin-right: 10px;
}

nav {
    background-color: #405389;
    border-radius: 0 0 10px 10px;
}

.nav-item {
    font-size: large;
    margin: 7px;
    font-weight: 200;
}

.active {
    font-weight: 700;
}

footer {
    background-color: #405389;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto; /* Pushes footer to bottom of page */
}

.nav-link {
    color: white;
}

h2 {
    color: #405389; /* Header color matching the site */
    text-align: center;
}

form {
    background-color: #fff; /* White background for the form */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto; /* Center the form */
}

button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #405389;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #304477;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

textarea {
    resize: none; /* Prevents the textarea from being resized */
}
.contact-info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.contact-info ul {
    padding-left: 0;
    list-style-type: none;
}

.contact-info li {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #405389;
}

.contact-info a {
    color: #304477;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
